@charset "UTF-8";
/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
input,textarea,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header,hgroup, menu, nav, section, menu,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    background:transparent;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.login-warp {
    width: 100%;
    background: url(../imgs/upload/bg.png) no-repeat fixed;
    background-size: cover
}

.login-warp .login-box {
    width: 300px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px
}

.login-warp .btn-submit {
    width: 190px
}

.layui-tab-card {
  box-shadow: none;
}

#tabContainers iframe {
  width: 100%;
  border: none;
  height: 700px;
}

.layui-body .layui-tab-title .layui-this {
  background: #009688!important;
  color: #fff!important;
}

.layui-tab-card>.layui-tab-title .layui-this .layui-tab-close {
  color: #fff
}

.layui-form-label {
  width: 100px;
}

.view-config, .side-right {
  display: inline-block;
  width: 49%;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
  padding: 20px;
}

.preview-result {
  border-left: 1px solid #ccc;
  resize: none;
  outline: none;
  font-size: 14px;
  min-height: 800px;
}

.layui-form input[type="text"] {
  outline: none;
  font-size: 0.8725em;
  border: 1px solid #465574;
  width: 160px;
  padding: 2px 5px;
  -webkit-appearance: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}

.layui-form select {
  border: 1px solid #465574;
  padding: 5px;
  outline: none;
}

.layui-form .vx-stage-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  box-sizing: border-box;
  padding: 15px 0 0 15px;
}

.layui-form .vx-stage-north {
  position: absolute;
  background-image: url(../images/stage-north.png);
  height: 10px;
  background-repeat: repeat-x;
  width: 98%;
  top: 0px;
  left: 10px;
}

.layui-form .vx-stage-west {
  position: absolute;
  background-image: url(../images/stage-west.png);
  width: 10px;
  background-repeat: repeat-y;
  height: 98%;
  top: 10px;
  left: 0px;
}

.layui-form textarea {
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 25px;
  background-image: url(../images/line-bg.png);
}
