@charset "UTF-8";
/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
input,textarea,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header,hgroup, menu, nav, section, menu,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    background:transparent;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.login-warp {
    width: 100%;
    background: url(../imgs/upload/bg.png) no-repeat fixed;
    background-size: cover
}

.login-warp .login-box {
    width: 300px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px
}

.login-warp .btn-submit {
    width: 190px
}

.layui-tab-card {
  box-shadow: none;
}

#tabContainers iframe {
  width: 100%;
  border: none;
  height: 700px;
}

.layui-body .layui-tab-title .layui-this {
  background: #009688!important;
  color: #fff!important;
}

.layui-tab-card>.layui-tab-title .layui-this .layui-tab-close {
  color: #fff
}

.layui-form-label {
  width: 100px;
}

.view-config, .side-right {
  display: inline-block;
  width: 49%;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
  padding: 20px;
}

.preview-result {
  border-left: 1px solid #ccc;
  resize: none;
  outline: none;
  font-size: 14px;
  min-height: 800px;
}

.view-config {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.view-config li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.view-config label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.view-config input[type=text],
.view-config input[type=date],
.view-config input[type=datetime],
.view-config input[type=number],
.view-config input[type=search],
.view-config input[type=time],
.view-config input[type=url],
.view-config input[type=email],
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}
.view-config input[type=text]:focus,
.view-config input[type=date]:focus,
.view-config input[type=datetime]:focus,
.view-config input[type=number]:focus,
.view-config input[type=search]:focus,
.view-config input[type=time]:focus,
.view-config input[type=url]:focus,
.view-config input[type=email]:focus,
.view-config textarea:focus,
.view-config select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.view-config .field-divided{
    width: 49%;
}

.view-config .field-long{
    width: 100%;
}
.view-config .field-select{
    width: 100%;
}
.view-config .field-textarea{
    height: 100px;
}
.view-config input[type=submit], .view-config input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.view-config input[type=submit]:hover, .view-config input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.view-config .required{
    color:red;
}

.view-config .vx-stage-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  box-sizing: border-box;
  padding: 15px 0 0 15px;
}

.view-config .vx-stage-north {
  position: absolute;
  background-image: url(../images/stage-north.png);
  height: 10px;
  background-repeat: repeat-x;
  width: 98%;
  top: 0px;
  left: 10px;
}

.view-config .vx-stage-west {
  position: absolute;
  background-image: url(../images/stage-west.png);
  width: 10px;
  background-repeat: repeat-y;
  height: 98%;
  top: 10px;
  left: 0px;
}

.view-config textarea {
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 25px;
  background-image: url(../images/line-bg.png);
}

table a,
table a:link,
table a:visited {
	border:none;
	}

img {
	border:0;
	margin-top:.5em;
	}
table {
	width:90%;
	border-top:1px solid #e5eff8;
	border-right:1px solid #e5eff8;
	margin:1em auto;
		border-collapse:collapse;
	}
caption {
	color: #9ba9b4;
	font-size:.94em;
		letter-spacing:.1em;
		margin:1em 0 0 0;
		padding:0;
		caption-side:top;
		text-align:center;
	}
tr.odd td	{
	background:#f7fbff
	}
tr.odd .column1	{
	background:#f4f9fe;
	}
.column1	{
	background:#f9fcfe;
	}
td {
	color:#678197;
	border-bottom:1px solid #e5eff8;
	border-left:1px solid #e5eff8;
	padding:.3em 1em;
	text-align:center;
	}
th {
	font-weight:normal;
	color: #678197;
	text-align:left;
	border-bottom: 1px solid #e5eff8;
	border-left:1px solid #e5eff8;
	padding:.3em 1em;
	}
thead th {
	background:#f4f9fe;
	text-align:center;
	font:bold 1.2em/2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
	color:#66a3d3
	}
tfoot th {
	text-align:center;
	background:#f4f9fe;
	}
tfoot th strong {
	font:bold 1.2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
	margin:.5em .5em .5em 0;
	color:#66a3d3;
		}
tfoot th em {
	color:#f03b58;
	font-weight: bold;
	font-size: 1.1em;
	font-style: normal;
	}
